<div class="col-md-6 col-md-offset-3">

<div style="float:right; margin-top:20px;"><button class="btn btn-primary">100 <img src="/coin.png" alt="" width="25" class="coinage"></button></div>

  <h1><%= @recipe.name  %></h1> 

  <p><%= @recipe.description %></p>

  <p><%= @recipe.body %></p>

  <p>Buy for 100 coins to continue reading...</p>

</div>
