
<% if user_signed_in? %>
	


<% else %>

	<div class="background-grocery" style="background: url('/grocery_background.jpg') no-repeat center center fixed;"></div>

	<div class="grocery-overlay"></div>

<% end %>