
<% if user_signed_in? %>
	


<% else %>

	<div class="background-grocery" style="background: url('/grocery_background.jpg') no-repeat center center fixed;"></div>

	<div class="grocery-overlay">
		<div class="grocery-text">
			<h1>Recipe's in a Pic</h1>
			<h4>Changing cooking, one recipe at a time.</h4>
		</div>
	</div>

<% end %>