@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "froala_editor.min.css";
@import "froala_style.min.css";


.background-grocery {
	width:100%;
	height:800px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-top:-72px;
}

.grocery-overlay {
	width:100%;
	position:absolute;
	top:50px;
	height:800px;
	background-color: rgba(0,0,0, 0.5)
}

.grocery-text {
	h1 {
		font-size: 70px;
	}
	h4 {
		color:white;
	}

	margin-top: 250px;
	text-align:center;
	color:white;
}

.btn-create-recipe {
	margin-top:8px;
}

.coinage {
	margin-top:-5px;
}
.coinages {
	color:white;
	display:inline-block;
	margin-top:12px;
	font-size:17px;
}